{% extends "layout.html" %}
{% block content %}
<main role='main' style="margin-top: 15px; margin-bottom: 10px;">
  <div class="container">
    <div class="row">
      <div class="col-md-6" id="carding">
        <div class="table-responsive" style="font-size: 14px;">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>BAY</th>
                <th>NILAI</th>
              </tr>
            </thead>
            <tbody>
              {% for BAY_, ID_ in  BAY_LIST | zip(ID_LIST) %}
              <tr>
                <td><a href="{{ url_for('home.pmtList', id_gi=ID_GI, ID_FUNCTLOC=ID_) }}">{{BAY_}}</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-md-6" style="width: 300px;">
        <div class="content-section">
          <legend class="border-bottom mb-2">{{namaGI}}</legend>

          <table class="table table-borderless">
            <tbody>
              <tr>
                <td>ULTG</td>
                <td>:</td>
                <td>{{ ultg }}</td>
              </tr>
              <tr>
                <td>Tegangan</td>
                <td>:</td>
                <td>{{ tegangan }} KV</td>
              </tr>
              <tr>
                <td>Tanggal Operasi</td>
                <td>:</td>
                <td>{{ tglOperasi }}</td>
              </tr>
              <tr>
                <td>Alamat</td>
                <td>:</td>
                <td>{{ alamat }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="content-section">
          {% include "map_detail.html" %}
        </div>

      </div>
    </div>

  </div>
</main>
{% endblock %}