{% extends "layout.html" %}
{% block content %}

<main role="main">
    <!-- PETA -->
    <div>
        <div class="row">
            <div class="col">
                <div class="content-section">
                    <div style="margin-top: 7px;">
                        <!-- <legend class="border-bottom mb-2">Peta sebaran Gardu Induk</legend> -->
                        
                            <!-- PETA -->
                            {% include "map.html" %}
                            <!-- leaflet MAP -->
                        
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</main>

{% endblock %}